In [3]:
from __future__  import print_function, division
import pylab as pl
import pandas as pd
import numpy as np
import os
import json

%pylab inline

Populating the interactive namespace from numpy and matplotlib

In [4]:
!curl -O https://raw.githubusercontent.com/fedhere/PUI2016_fb55/master/Lab3_fb55/times.txt

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
107  1179  107  1179    0     0   7101      0 --:--:-- --:--:-- --:--:-- 47160

In [5]:
data = pd.read_table("times.txt", header=None)

In [6]:
data.columns=["Time"]
data.head()

        Time
0  31.622239
1  32.821376
2  30.229101
3  31.413766
4  39.010550

#### On lecture 3 we saw that this time table is related to the new route for bus X8. It is known that the mean commute time of the last rout was 36 minutes, with standart deviation of 6 minutes.

### The idea is: Does this new route improved the commute time?
### Null Hypothesis (Ho): The commute time is longer or same comparing to the previous route, i.e., mean_time_new >= mean_time_old
### Hypothesis (Ha): The commute time is shorter compared to the old route. mean_time_new < mean_time_old

#### For this calculations, let's consider alpha = 0.05 (5%)

In [7]:
data.mean()

Time    34.466162
dtype: float64

In [8]:
data.describe()

             Time
count  100.000000
mean    34.466162
std      7.137280
min     16.527267
25%     30.020542
50%     34.693057
75%     39.603456
max     48.749877

In [9]:
# Using the information provided on class (mean = 36 adn std = 6)
oldMean = 36
newMean = data.mean()
oldStd = 6
newStd = data.std()

In [10]:
z_test = (newMean-oldMean)/(6/len(data)**0.5)
print (z_test)

Time   -2.556397
dtype: float64

### for 2.56 P is 0.9948
### Then, p-value = 1-P = 0.0052
### p-value = 0.0052 < 0.05, so the Null Hypothesis is rejected